<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title"><%= family_member.first_name %> <%= family_member.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">email address</h6>
    <p class="card-text"><%= family_member.age %></p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<p></p>
