<main role="main" class="container">
  <h1 class="text-center mt-3">Family Members</h1>

  <div id="container" class="family-member-cards-container mt-3">
    <%= render partial: "shared/family_member", collection: @family_members %>
  </div>
</main>
