<h1 class="text-center mt-3">Family Members <a href="<%= new_family_member_path %>" class="btn btn-outline-success my-2 my-sm-0">Create New</a></h1>

<div id="container" class="family-member-cards-container mt-3">
  <%= render partial: "shared/family_member", collection: @family_members %>
</div>
